{
    "presets":  [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": "core-js@3"
          }
        ]
      ],
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-optional-chaining", [
        "component", {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
}